<ion-header>
  <ion-toolbar>
    <ion-title>Pago de parqueo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="ion-text-center">
    <img src="../../assets/payment.png" alt="">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="location-outline" slot="start"> </ion-icon>
          <ion-label>Lugar de estacionamiento: </ion-label>
          <ion-input type="number" [(ngModel)]="place"></ion-input>
          <ion-button (click)="search()" expand="block" slot="end">
            Buscar
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="time-outline" slot="start"> </ion-icon>
          <ion-label>Hora ingreso: {{ticket.Fec_Ingreso}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="hourglass-outline" slot="start"> </ion-icon>
          <ion-label>Tiempo total: {{ticket.Fec_salida - ticket.Fec_Ingreso}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="cash-outline" slot="start"> </ion-icon>
          <ion-label>Total a pagar: {{total}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="wallet-outline" slot="start"> </ion-icon>
          <ion-label>Cantidad a agregar: </ion-label>
          <ion-input type="number" [(ngModel)]="amount"></ion-input>
          <ion-button (click)="showModal()" expand="block" slot="end">
            Pagar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
